<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="ConnectionString"
         value="Data Source=catalent-dev.cldnzpdjqbno.eu-west-1.rds.amazonaws.com;Initial Catalog=Fusion;Persist Security Info=True;User ID=catalent;Password=hgmNxjOJDr04;Timeout=3600" />
    <add key="CronSchedule" value="0/30 * * * * ?" />
    
    <add key="OneSignalAppId" value="c0231a37-8fd2-4d4b-8185-5d0f4b6491cd" />
    <add key="OneSignalApiKey" value="NjI5N2Y2NTktNWNjOC00YTM1LTk5MDItMWJlNmRhYzM1YzE2" />

  </appSettings>
  
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <param name="Threshold" value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{dd-MMM-yyyy HH:mm:ss}  %-5level %message %exception%n" />
      </layout>
    </appender>
    
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Threshold" value="INFO" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="logs\" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
</configuration>